<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{arbol/Fragmentos :: head}">
    </head>
    <body>
        <header th:replace="~{arbol/Fragmentos :: header}"></header>
        <br>

        <section th:replace="~{arbol/Fragmentos :: botonesAgregar}"></section>
        <section th:replace="~{arbol/Fragmentos :: agregarArbol}"></section>
        <section th:replace="~{arbol/Fragmentos :: listadoArboles}"></section-->

        <footer th:replace="~{arbol/Fragmentos :: footer}"></footer>
    </body>
</html>
